{% extends "_layout.twig" %}

{% block body %}
	{# <h3>Tableau de bord</h3> #}
	<hr>
	<div class="row">
		{# @todo faire un detail des infos d'un club pour remplacer cette image. #}
		<img src="/assets/img/screen.jpg" class="img-fluid m-auto" alt="...">
	</div>
{% endblock %}
