{% extends "_layout.twig" %}

{% block body %}

	<h1>Réinitialisation du mot de passe</h1>
	<hr>

	{% if is_valide %}
		<form method="post">
			<div class="mb-3">
				<label for="username">Identifiant :</label>
				<input type="text" class="form-control {% if form_errors.username %} is-invalid{% endif %}" name="username" id="username" required autofocus>
				{% if form_errors.username %}
					<div class="invalid-feedback">{{ form_errors.username }}</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="password">Nouveau mot de passe</label>
				<input type="password" class="form-control {% if form_errors.password %} is-invalid{% endif %}" name="password" id="password" required minlength="8">
				{% if form_errors.password %}
					<div class="invalid-feedback">{{ form_errors.password }}</div>
				{% endif %}
			</div>

			<div class="form-group">
				<label for="confirm_password">Confirmer le nouveau mot de passe</label>
				<input type="password" class="form-control {% if form_errors.confirm_password %} is-invalid{% endif %}" name="confirm_password" id="confirm_password" required minlength="8">
				{% if form_errors.confirm_password %}
					<div class="invalid-feedback">{{ form_errors.confirm_password }}</div>
				{% endif %}
			</div>

			<button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
		</form>

	{% else %}
		<div class="message error">
			<p>Lien de réinitialisation invalide ou expiré.</p>
			<p>Veuillez faire une nouvelle
				<a href="/oubli_mot_de_passe">demande</a>.</p>
		</div>
	{% endif %}

{% endblock %}
