<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Epiclub</title>
		<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="/assets/css/cosmo.min.css">
	</head>

	<body>
		<header class="container mt-3">
			<div class="text-center">
				<hr>
				<img src="/assets/img/EPIClub.png" class="" width="64" alt="Logo EPIClub">
				<span class="h1 text-primary align-middle ps-3">
					<strong>Gestionnaire EPI</strong>
				</span>
				<hr>
			</div>
		</header>
		<main class="container mt-2">
			{% for label, messages in session.getFlashBag.all %}
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endfor %}

			<h3>Mot de passe oublié</h3>
			<hr>

			<form method="post">
				<div class="mb-3">
					<label for="email">Adresse email</label>
					<input type="email" class="form-control {% if form_errors.email %} is-invalid{% endif %}" name="email" id="email" value="{{ email }}" required>
					{% if form_errors.email %}
						<div class="invalid-feedback">{{ form_errors.email }}</div>
					{% endif %}
				</div>

				<button type="submit" class="btn btn-primary">Envoyer le lien de réinitialisation</button>
			</form>
		</main>
		<footer class="container">
			<hr>
			<p class="text-center text-body-secondary">
				<a href="https://epiclub.fr">Epiclub 0.9.3 (beta)</a>
			</p>
		</footer>
	</body>
</html>
